@model DHSOnlineStore.Models.Product

@{
}

<div style="width:50%;">
	<h2>Update Product</h2>

	<a asp-action="Index" asp-controller="Product" class="btn btn-primary">Back</a>

	<form asp-action="UpdateProduct" enctype="multipart/form-data">
		<div class="my-2">
			<label>Name</label>
			<input type="text" class="form-control" asp-for="Name" />
			<span asp-validation-for="Name" class="text-danger"></span>
		</div>

		<div class="my-2">
			<label>Brand</label>
			<input type="text" class="form-control" asp-for="Brand" />
			<span asp-validation-for="Brand" class="text-danger"></span>
		</div>

		<div class="my-2">
			<label>Price</label>
			<input type="number" class="form-control" asp-for="Price" />
			<span asp-validation-for="Price" class="text-danger"></span>
		</div>

		<div class="my-2">
			<label>Description</label>
			<textarea class="form-control" asp-for="Description"></textarea>
			<span asp-validation-for="Description" class="text-danger"></span>
		</div>

		<div class="my-2">
			<label>Image</label>
			<input type="file" class="form-control" asp-for="ImageFile" />
		</div>

		<div class="my-2">
			<button type="submit" class="btn btn-info">Update</button>
		</div>
	</form>
</div>
